    <div id="coop-header-div">
      <img id="coop-header" src="/assets/images/coopheader.png">
    </div>
    <div class="row">
      <div class="col-md-8">
        <h1 class="bree"><span style="color:#8bc1f0;">Chris</span><span style="color:#338dcb; font-weight:bold;">Zhu</span></h1><br>
        <h3 id="desc-h3">UBC Computer Science Year 3</h3>
      </div>
      <div class="col-md-4">
        Email: chris.zhu12@gmail.com<br>
        Phone: 778 709 9258<br>
        Location: Vancouver, British Columbia
      </div>
    </div>
    <hr class="main-hr">
    <div class="row">
      <div class="col-md-2">
        <div class="side-nav bree">Skills</div>
      </div>
      <div class="col-md-9 top-10">
        <div class="row">
          <div class="col-md-4">
            <div class="desc-title">Web Development</div>
            <div class="desc-desc">
              Experience in front end design ensuring the development of responsive and intuitive UI as well as the design of a server side architecture with scalability and fault tolerance in mind. Prior Experience in the procedure as well as the challenges associated with deploying code.
            </div>
          </div>
          <div class="col-md-4">
            <div class="desc-title">Networking</div>
            <div class="desc-desc">
              Understanding of fundamental concepts of networking, particularly the HTTP/HTTPS suite. Experience in using Scapy, a python networking library, to perform network transactions.
            </div>
          </div>
          <div class="col-md-4">
            <div class="desc-title">Databases</div>
            <div class="desc-desc">
              Understanding of database table design and query optimization. Worked with Microsoft SQL, MySQL, and PostgreSQL. Studied the underlying's of database operations such as database scheduling and indexing.
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2">
        <div class="side-nav bree">Projects</div>
      </div>
      <div class="col-md-10 top-10">
        <ul id="projects-list">
          <li>
          <div class="row">
            <div class="col-md-9">
              <div class="desc-title">RacePonse</div>
              <div class="desc-lib">AngularJS, Ruby on Rails, PostgreSQL</div>
              <div class="desc-desc">
                A polling application that is intended to provide the usage of the iClicker (response system designed for classrooms, costing students $30), as well as the additional feature of allowing audience to push questions to presenters in real-time. (http://www.raceponse.com)
              </div>
            </div>
            <span class="right"> June 2013 - Present</span>
          </div>
          </li>
          <li>
          <div class="row">
            <div class="col-md-9">
              <div class="desc-title">UBC Hackathon 2</div>
              <div class="desc-lib">AngularJS, Ruby on Rails</div>
              <div class="desc-desc">
                Worked with NPO Self Design to create a platform for parent to learn how to home school children.
                Developed backend to parse and serve data from an XML data source.
              </div>
            </div>
            <span class="right"> October 2013</span>
          </div>
          </li>
          <li>
          <div class="row">
            <div class="col-md-9">
              <div class="desc-title">Address Resolution Protocol Spoofing</div>
              <div class="desc-lib">Python, Scapy</div>
              <div class="desc-desc">
                Developed a basic ARP spoofing utility that allows user to intercept all traffic in wifi hotspots by imitating the default gateway/router.
              </div>
            </div>
            <span class="right"> December 2013</span>
          </div>
          </li>
          <li>
          <div class="row">
            <div class="col-md-9">
              <div class="desc-title">UBC Hackathon 1</div>
              <div class="desc-lib">Android</div>
              <div class="desc-desc">
                Worked with NPO Self Design to develop an Android application for home schooling programs. Parents can take pictures and upload them as proof of following a formalized home schooling curriculum.
              </div>
            </div>
            <span class="right"> April 2013</span>
          </div>
          </li>
          <li>
          <div class="row">
            <div class="col-md-9">
              <div class="desc-title">Networked Poker Game</div>
              <div class="desc-lib">Java, Swing</div>
              <div class="desc-desc">
                Developed poker game with multithreaded server which clients connect to over the internet and can play poker.
              </div>
            </div>
            <span class="right"> December 2012</span>
          </div>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2">
        <div class="side-nav bree" style="padding-right:0">Languages<br/>& Platforms</div>
      </div>
      <div class="col-md-8 top-10">
        <div class="row">
          <div class="col-md-4">
            <p class="desc-title">Java</p>
            <div class=" desc-desc">
            Swing/AWT (GUI)<br>
            Net Library (Networking)<br>
            Concurrent Programming
            </div>
          </div>
          <div class="col-md-4">
            <p class="desc-title">Python</p>
            <div class=" desc-desc">
            Scapy (Networking)<br>
            Beautiful Soup (Screen Scraping)<br>
            Django (Web Framework)
            </div>
          </div>
          <div class="col-md-4">
            <p class="desc-title">Ruby</p>
            <div class=" desc-desc">
              Nokogiri (HTML/XML Parsing)<br>
              Ruby on Rails (Web Framework)
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p class="desc-title">C/C++</p>
            <div class=" desc-desc">
            OpenGL (Graphics)<br>
            x86 Translation
            </div>
          </div>
          <div class="col-md-4">
            <p class="desc-title">Javascript</p>
            <div class=" desc-desc">
            jQuery<br>
            AngularJS (ClientSide Framework)<br>
            NodeJS (Server Side Javascript)
            </div>
          </div>
          <div class="col-md-4">
            <p class="desc-title">Unix</p>
            <div class=" desc-desc">
            Distributed Faye Servers<br>
            Nginx (HTTP Server)<br>
            Unicorn (Application Server)
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-2">
        <div class="side-nav bree">Education</div>
      </div>
      <div class="col-md-10 top-10">
        <ul>
          <li>
            <div class="row">
              <div class="col-md-9">
                <div class="desc-title">University of British Columbia</div>
                <div class="desc-desc">
                  Major in Computer Science, transferred from Microbiology. Maintaining a 4.2 GPA.<br>
                  Relevant courses: <br>
                  CPSC 404: Advanced Databases | CPSC 313: Hardware and Operating Systems<br>
                  CPSC 320: Intermediate Algorithm Design | CPSC 317: Internet Computing <br>
                  CPSC 340: Machine Learning and Data Mining | CPSC 416: Distributed Computing
                </div>
              </div>
              <span class="right">September 2012 - May 2015
            </div>
          </li>
        </ul>
      </div>
    </div>
    <hr class="footer">

